.small-input {
    width: 50%;
    max-width: 300px; 
  }

.darkBackground {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}

.custom-margin-right {
  margin-right: 3rem!important;
}

#custom-checkbox {
  transform: scale(1.5);
}