.bg-body-tertiary {
    background-color: rgb(30, 66, 30) !important;
}

.white-text {
    color: white;
}

.custom-centered-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: fit-content;
}

.custom-centered-nav > * {
    margin: 0 5px;
}