@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body  {
  background-image: url('https://images.pexels.com/photos/4475525/pexels-photo-4475525.jpeg');
  background-size:cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  
  font-family: 'Roboto Mono', monospace !important;             
}

.mp-green-text{  
  color: rgb(136, 185, 136) !important;  
}
.mp-green-bg{
  background-color: rgb(136, 185, 136) !important; 
}
.mp-darkgreen-bg{
  background-color: rgb(87, 104, 87) !important;
}
.custom-hr {
  border: none;
  border-top: 3px solid rgb(243, 241, 241);
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}